

/*menu*/

body{
    background-color: rgb(255, 255, 255);
}

header{
    width: 100%;
    height: 70px;
    padding: 10px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    background-color: rgb(150, 179, 161);
}

.menu{
    list-style: none;

    display: flex;

    

}

.menu li a{
    color: black;
    display: block;
    text-decoration: none;
    margin-left: 15px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.menu li a:hover{
    color: rgb(94, 93, 93);
    display: block;
    text-decoration: none;
    margin-left: 15px;
}

#logo{
    width:40px;
    height: 40px;

    border-radius: 10px;
}

#btn{
    display: none;
}

@media (max-width:600px) {
    #btn{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    #h {
        border-top: 2px solid;
        gap: .5rem;
        color: black;
    }

    #h::after, #h::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #h{
        border-top-color: transparent;
    }

    #nav.active #h::after{
       transform: rotate(135deg);
       
    }

    #nav.active #h::before{
        transform: rotate(-135deg);
        top: -7px;
    }

    .menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        height: 0px;
        transition: .6s;
        z-index: 10000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active .menu{
        visibility: visible;
        overflow-y: auto;
        height: calc(100vh - 70px);
    }

    .menu li a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }
}


/*Catalogo*/

.flex {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);   
}

.flex > div {
    flex: 1 1 150px;
    padding: 10px;
}

img#prod {
    width: 150px;
}


